[2015-08-08 04:14] phillfarrugia opened #2 "Tests"
Seems like there's currently no tests implemented. Would probably be a good idea to consider writing a few tests before/if this project gets any larger.

I'm not very opinionated when it comes to JS test frameworks, any suggestions or preferences are welcome?

Also I'm happy to do this when I get time.

[2015-08-08 07:25] crisbal commented on #2
Hey,

I never done anything test-related, ever. It is something I always wanted to learn but never had the right inspiration.

What would you write tests for? The plugins?

I you want to implement them, feel free to choose any test framework you are comfortable with.

Off Topic: do you know where I could share the project to make it more popular? It seems to have the basic things that may get it a

[2015-08-08 07:53] phillfarrugia commented on #2
Hey @crisbal !
Ever since telegram implemented an official bots API I've been looking for a flexible javascript implementation that I could play around with and build bots with. One of the hardest things at the moment is deploying a bot that is always on, aside from a local server. I stumbled across this one and it seems to have lots of potential to become a super easy way to start a Bot with a fe

[2015-08-08 08:19] crisbal commented on #2
Hey,

feel free to do whatever you want in regards of tests.

I didn't  work on the project for a few weeks but now I might pick it up again: there are a few things to handle, update some plugins, improve the code, add some utils methods.... I will work on this in the next days.

If you want to work on it I have no problem: I will be very happy :+1:

I will post a link later on that subreddit, tha

[2015-08-08 12:02] phillfarrugia opened #3 "Command Syntax"
Another one to consider... what are your thoughts regarding command syntax to trigger plugins.

I know that Slack uses `/giphy <query>`, and Github's hubot uses `hubot animate me`.
Telegram's official bots also use `/command <query>`.

Having said that I really like using `image <query>` and using a regular expression flexible enough to accept multiple i.e I just wrote a script to use:
[code]
that

[2015-08-08 14:51] crisbal commented on #3
In my plugins I used the exclamation mark.

Telegram suggests using the slash, both [here](https://core.telegram.org/bots#commands) and [here (/setcommands)](https://core.telegram.org/bots#commands) but it is not a requirement.

Without a prefix for the command it is quicker to write the commands, especially if you are on a mobile phone: no need to long press on a key; but if a command is too gene

[2015-08-11 13:54] phillfarrugia opened #5 "Continuous Integration"
I've submitted PR #4 which adds unit tests for all plugin related functionality.

Now that there are tests ready to be merged it would be a good idea to add some sort of CI service to run these tests on each pull request and merge, to ensure that basic functionality does not break.

I've had experience using Travis CI, it seems to work well (and is `free`) for open source Javascript projects. The

[2015-08-11 14:00] crisbal commented on #5
Ok I have Enabled Travis CI for the repo.

I never used it. If you want feel free to add the build files and the badge.

[2015-08-11 14:00] #2 closed

[2015-08-11 14:19] crisbal opened #6 "Create a landing page for the project. Naming the bot."
It would be cool to have a landing/home page for the project, where we present its main features.

It is **not a priority** right now, especially because we don't have much to show, but in the future it could be a good thing to implement.

I'd like to take care of it since Web Development is something I enjoy.

[2015-08-11 14:31] phillfarrugia commented on #5
PR #7 submitted, too easy!

[2015-08-11 14:34] phillfarrugia commented on #6
I agree this would be great to do.

In addition to this, we should find a nifty name for the project too. Perhaps something nerdy and bot related?

Existing ones:
- Hubot
- Slackbot
- BotFather

[2015-08-11 14:43] phillfarrugia commented on #5
Another suggestion as part of this issue - We could probably setup a development instance of this bot to run on Heroku and add deployment to this.

The idea being, each time a Pull Request is merged into `master` Travis CI will push the changes to the bot on Heroku and without any effort from us we can test out the changes running live in Telegram!

Alas, I'm tired.. I might do this on another nig

[2015-08-11 14:45] crisbal commented on #6
Well, I called it Node-Telegram-Bot, since it is based on Node, its made for Telegram and is a Bot. Not really that original and interesting.

The problem is that there are already two repo with the same name:
* https://github.com/orzFly/node-telegram-bot
* https://github.com/depoio/node-telegram-bot

Which are just two wrapper for the API.

I really suck at naming things, just look at the name of

[2015-08-11 14:48] crisbal commented on #5
That would be good. But can we run a program 24/7 on Heroku without paying?

It was possible a few months ago but if I remember correctly, recently I read that they changed something about their free plan.

[2015-08-11 14:49] #5 closed

[2015-08-11 15:26] crisbal commented on #5
If we use Travis CI does it mean that everytime I want to make a change I have to make it in a new branch, and not just commit it to master?

[2015-08-11 15:44] crisbal opened #9 "TTS Plugin: sometimes Google blocks the request to download the audio file."
Instead of an mp3 the bot gets:

"Our systems have detected unusual traffic from your computer network.  This page checks to see if it's really you sending the requests, and not a robot." They know.

Maybe fixed by setting an user agent for the request.

I run the bot for a few weeks in the past and me and a few friends were using it a lot and this never happened.

[2015-08-11 15:47] crisbal commented on #6
Also I could post the bot on https://news.ycombinator.com/ to give it some visibility.

[2015-08-11 23:14] phillfarrugia commented on #5
You don't _have_ to, although yes committing straight into master won't trigger the tests to run. Although if we're following an open source workflow, the idea is changes are merged using a Pull Request, that is first reviewed by all contributors. Totally up to you?

[2015-08-11 23:55] phillfarrugia opened #10 "Config file. Purpose of the Bot."
I should preface this issue with, do you see Node-Telegram-Bot as intended to be a single bot that everyone uses? Or like I do, something that anyone can clone and spawn up their own instance for their own Telegram chats?

Currently the config.js file is committed into git therefore every time I change it, git wants to commit the changes. I see the config file as being useful, down the track we'll

[2015-08-11 23:57] phillfarrugia opened #11 "Pretty Console Output + Logger"
Suggestion, we could use the npm module 'colors' to make the console output cleaner and a bit fun.
https://www.npmjs.com/package/colors

Probably when we have a better name for the bot and have worked on it more. At the same time, we should be more strict on exactly what messages we output to the console to prevent it from becoming necessarily noisy.

Don't have to do this now, but adding to the t

[2015-08-12 03:20] phillfarrugia commented on #6
I don't know why, but I started thinking of Jetsons characters because they're all futuristic and robot-y.

What if we named the project after one of those characters 😜 and than see if there's any copyright issues with using their likeness as a 'logo' of sorts?

If not Jetsons, take a look at [this list of fictional 'butlers'](https://en.wikipedia.org/wiki/List_of_fictional_butlers) and see if any

[2015-08-12 03:24] phillfarrugia commented on #3
Read this from one of the pages you've linked to above. Also more that I think about it we should probably just follow the precedent from Telegram, will only make things easier moving forward.

[2015-08-12 06:43] crisbal commented on #3
I am OK with the / and the !  But I am still not sure about not having any prefix. We could allow that if the command is very specific and we don't risk unwanted triggers.

[2015-08-12 06:46] crisbal commented on #3
Also parameters could be split by a "-" if one parameter is made up by more than one word? Look at the TTS plugin.

/tts what you want to say - language

Because enclosing parameters in quotes, like you do in Windows/Linux/Mac commands is a bit slower to do any I can see many users forgetting about doing it.

[2015-08-12 06:52] crisbal commented on #11
The best thing is that we should implement some kind of logger which has various levels of logging,  INFO for everything, DEBUG for debugging, etc and based on the logging level that is set only desired messages will be shown.

Something like this exists in python, will look around If exists for node.

Also we could have a log combined with console output.

[2015-08-12 07:19] crisbal commented on #10
As you said I see the bot as "something that anyone can clone and spawn up their own instance for their own Telegram chats". When they introduced the new bot API people began creating public bots which offers a single feature and are very little configurable.

Before the Bot API, many people used this project as a Bot for their group chats: https://github.com/yagop/telegram-bot

Which works on the

[2015-08-12 07:30] crisbal commented on #6
**Elroy** is cool.

I don't think we would have any copyright issue, it is just a person name, not a company name or something.

Also if we go with this, does this mean that we have to rename the repo? from crisbal/Node-Telegram-Bot to crisbal/Elroy ? Or we can leave the Repo URL as it is and just change the name in the readme and in a few other places?

The current URL is pretty good from the SEO

[2015-08-12 07:38] crisbal opened #12 "Global/General Commands"
It would be cool to have commands such as :

* /list - list all plugins
* /help - show help for a plugin
* /enable <plugin_name> - enable a plugin while the bot is running
* /disable <plugin_name> - disable a plugin while the bot is running

How could we achieve these? We can't simple create them as plugins because we need integration with other plugins and right now a plugin is completely separet

[2015-08-12 07:41] crisbal commented on #11
Look at this logger: https://github.com/winstonjs/winston

If you are OK I will implement it in the project.

[2015-08-12 07:50] crisbal commented on #9
Setting a User Agent doesn't change anything.

[2015-08-12 09:13] phillfarrugia commented on #11
Looks interesting, we should hold off on this until we've improved the core functionality I think

[2015-08-12 10:15] phillfarrugia commented on #10
Env variables come down to the same problem as having a config checked into the repo.

Users will clone the repo, set the plugins they want, set the tokens for their integrations. Tokens shouldn't be committed into version control. Environment variables are used exactly for this sort of scenario, it allows users to configure the dependencies environment without the need for a code change.

[2015-08-12 11:44] crisbal commented on #3
I created this branch: https://github.com/crisbal/Node-Telegram-Bot/tree/util-module

I added a new util module and a function to parse any message and find if it is a command and if it is it get its parameters.

It accepts both ! and /, dividing parameters by a space or by any custom character passed as a parameter. It allows to specify command variations.

It doesn't handle commands that doesn't

[2015-08-12 11:51] phillfarrugia commented on #3
If you create a pull request from util-module into master, I'll be able to review the diff and the tests will run :)

[2015-08-12 11:53] crisbal commented on #3
Yeah, I know. I don't think it is ready to be pushed into master, still
need a few things.

2015-08-12 13:51 GMT+02:00 Phill Farrugia <notifications@github.com>:

[2015-08-12 12:12] phillfarrugia commented on #3
:+1:

[2015-08-12 12:22] phillfarrugia commented on #6
My suggestion would be we should rename the repo to crisbal/Elroy, Node-Telegram-Bot is very generic and while it might be okay for SEO there are other ways to be even better at SEO and discovery.

If we have a landing page for one. If we maybe write a blog post about it, and post it on a subreddit/hacker news as you mentioned. There are a lot of others that are just simply called 'Node-Telegram-B

[2015-08-14 14:15] crisbal commented on #3
https://github.com/crisbal/Node-Telegram-Bot/pull/13

 Take a look, the tests are passing since nothing has really changed for the tests.

[2015-08-14 14:18] crisbal commented on #6
Seems good to me. :+1:

[2015-11-08 00:30] ch3ll0v3k commented on #9
I have same prob. Any body solution ?
".google.com TRUE    /   FALSE   (TIME)  GOOGLE_ABUSE_EXEMPTION  ID= ( UID):TM=(TIME):C=c:IP= (IP6) -:S=(UID)-(UID)-(UID)"
I found cookie wich appers right after tts page get refreshed.
And no result. They block it by some kind if message digest. it must be atached to the browser somehow.

[2015-11-11 14:09] crisbal commented on #9
YES! I think I fixed it!

I had to set a custom header and add another parameter to the request url! Give it a try and let me know!

[2015-11-11 14:13] crisbal commented on #9
Damn, it is still not working. It worked for a few tries but now it is dead! :(

[2015-11-11 16:39] ch3ll0v3k commented on #9
For linux users, i found alternative.
#### cepstral
This one (https://www.cepstral.com/en/demos) will coast 35$! Davids voice is nice.
----
#### poco2wave
This one (poco2wave). Is a free app. Its oke, bud not best quality.

[code]

And to use:
[code]

[2015-11-11 19:20] ch3ll0v3k commented on #9
Another one. Only sad thing. the gap/space/pause between words is bad

http://www.muflone.com/gespeaker/english/mbrola.html

[2015-12-14 16:43] #12 closed

[2015-12-25 20:20] GuapoTaco opened #16 "/g command doens't accept special charecters (space, +, possibly others)"
the `/g` command has some serious bugs. If you enter the `/g` command with only special characters (I didn't actually test this, just assumed) than it just crashes the bot.

Example:
[code]
Crashes the bot.

Also, if there is a special character mixed in, it will mess up the url in the end.

Example:
[code]
This doesn't crash the bot, but spits out an invalid link.

[2015-12-25 21:48] crisbal commented on #16
Thanks, for the report. I will try to fix this for the next release.

[2015-12-25 23:01] crisbal opened #17 "New plugins"
We could use some new plugins.

For example:

* vote
* image search
* wikipedia
* stats

[2015-12-25 23:01] #10 closed

[2015-12-25 23:04] crisbal opened #18 "Bot administration features"
We could really use some kind of admin system for the bot. Commands like /enableplugin /disableplugin

Any idea about  this is appreciated.

[2015-12-25 23:06] crisbal opened #19 "Documentation & Readme"
Documentation needs a serious overhaul. We need some kind of tutorial on how to create plugins, especially now that I introduced some stuff, like databases, hidden plugins and more.

[2015-12-25 23:08] crisbal opened #20 "Make the existing plugins work with the new database feature."
Set and karma are the two on top of my mind. But really any plugin which currently use a file based database.

[2015-12-25 23:10] crisbal opened #21 "Trigger 'save database' on bot shutdown."
Should be a pretty quick fix.

[2015-12-25 23:11] crisbal opened #22 "Update tests to make them work with the recent changes."

[2015-12-25 23:14] crisbal opened #23 "Clean the code. (Code style)"
The code is a mess: tabs & spaces mixed together. Two spaces and 4 spaces mixed together.

It would be cool to have an automated way of fixing this.

[2015-12-25 23:16] crisbal opened #24 "Installer"
It would be cool to have some kind of automated installer for the project.

Something like "./installer.sh" which will take care of everything needed (enable/disable plugins, ask for api key) and much more.

What do you think?

[2015-12-26 08:55] crisbal commented on #23
Closed. In the next push you will see only 4 spaces for indentation.

[2015-12-26 08:55] #23 closed

[2015-12-26 09:21] crisbal commented on #16
Fixed! It will start working next time I restart the bot

[2015-12-26 09:21] #16 closed

[2015-12-26 09:50] crisbal commented on #21
Fixed in the next release.

[2015-12-26 09:50] #21 closed

[2015-12-26 10:49] crisbal commented on #20
Set is ported

[2015-12-27 16:11] blackdev1l commented on #24
We could use npm as starting point

[2016-01-10 14:20] #20 closed

[2016-01-13 21:35] AleRao opened #25 "/unset command bug"
I am using this (great) bot in a chat. We have set a /set command with two words, separated by a blank space, like "/set word1 word2"
Now we cannot unset the command because the /unset command returns "/unset word1".
We also tried with "/unset <word1 word2>" like suggested with the help. but the return value is "/unset <word1".

Thanks in advance.

[2016-01-13 21:44] crisbal commented on #25
Hey.

Yeah that is a pretty stupid thing  I did not think of.

Tomorrow morning I will fix it (it is just a one liner thing) and it will be working again.

If you are really impatient you can fix this now by changing this line in plugins/set.js

var matchUnset = Util.parseCommand(msg.text,["unset"]);

With

var matchUnset = Util.parseCommand(msg.text,["unset"], { joinParams: true });

And it shoul

[2016-01-13 21:47] crisbal commented on #25
Wait are you using your own version or @Factotum_Bot?

[2016-01-13 21:53] crisbal commented on #25
Fixed for @Factotum_Bot. Will fix the source code tomorrow.

[2016-01-13 22:14] AleRao commented on #25
Oh, wow! I did not expect such fast reply.
No, I am using the normal version of the bot.

Thank you so much, I'll let you know if the /unset command will work now

[2016-01-13 22:22] AleRao commented on #25
Ok, it's working fine.
Thank you again.
I'll close the issue.

[2016-01-13 22:22] #25 closed

[2016-01-17 19:51] #11 closed

[2016-04-05 23:46] phillipadsmith opened #26 "Redis requirement?"
Howdy,

I started developing a single-purpose bot based on much of the work that you've done here (thank you!), and while troubleshooting something I thought I'd check back to see what updates had been made to this project.

I see that Redis is now required and I'm curious about how it's being used and what the purpose was / is?

Many thanks,

Phillip.

[2016-04-06 04:54] crisbal commented on #26
Hey Phillip

Redis is required as a database. You can use redis to save and retrieve
stuff with the wrapper db.js

Take a look at some plugins (karma.js, redis.js) to find out more.

You could totally avoid redis but doing so might need some custom changes
to the code

Have a good day

Cristian

On Wed, Apr 6, 2016, 01:46 Phillip Smith <notifications@github.com> wrote:

[2016-05-18 14:36] FerdinandoLM opened #28 "Incorrect repo for node-telegram-api"
Error when issuing npm install.

[2016-05-18 15:41] #28 closed

[2016-06-28 20:02] Mte90 opened #31 "Avoid flooding command requests"
The spam with the bot can be very annoying so a little check about many commands from the same person can improve that behaviour.

[2016-06-28 20:04] #26 closed

[2016-06-28 20:05] crisbal commented on #31
Will definitely consider this for the next major release, which should be coming in the next weeks / months.

[2016-06-28 20:06] crisbal commented on #9
Closing this issue since there are better bots that do this job.

[2016-06-28 20:06] #9 closed

[2016-07-04 23:03] CapacitorSet opened #37 "Implement regex-capable set plugin"
eg.

[code]

[2016-07-04 23:04] CapacitorSet commented on #37
If regexes are used, consider using a linear-time library: https://swtch.com/~rsc/regexp/regexp1.html

For example, [this](https://github.com/substack/safe-regex) could be a good library to check regular expressions against.

[2016-07-05 11:00] crisbal commented on #37
The only thing I am worried is about performance, would you match any message with any regex?

(We already do this in the master/dev version and I am worried about it too)

[2016-07-14 19:20] CapacitorSet commented on #37
Fixed in 3ef1d780c2393232fa0b0e91553e06f6dcb67885.

[2016-07-14 19:20] #37 closed, assigned to nobody

[2016-07-14 19:41] CapacitorSet commented on #18
A basic roadmap:
- [x] Define a "founder" in the configuration. This is the master user.
- [x] Add plugins as needed (eg. for /enableplugin and /disableplugin). They will simply read the incoming message and check with Auth to see if they were sent by an admin or not.

[2016-07-15 19:53] CapacitorSet commented on #31
Fixed in 183ef4af5534591b663a5b98ab21734a9a284b7b with a basic algorithm: messages less than 1000 ms apart will be discarded.

It was pushed to a development branch, which will eventually be merged with `master` as @crisbal said.

[2016-07-16 17:35] Mte90 commented on #31
amazing guys!

[2016-07-16 17:35] #31 closed, assigned to nobody

[2016-07-19 17:44] CapacitorSet commented on #19
Partly fixed in 1f78be49368e0cd17647d8608a5f195ffb1f9a0f.

[2016-07-19 17:45] crisbal commented on #19
Very very far from complete but it's a start

[2016-07-31 13:47] CapacitorSet opened #52 "Add karma plugin"
Example usage:

[2016-08-18 12:09] CapacitorSet opened #55 "Fix MediaSet"
It doesn't work atm. In particular, it doesn't react when you send it a picture.

[2016-08-21 20:05] CapacitorSet commented on #24
Working on this. I'll make a script with [`read`](https://www.npmjs.com/package/read), which is the same module used for `npm init`.

[2016-08-21 23:35] CapacitorSet commented on #24
TODO (as discussed on chat): figure out how to fetch metadata from plugins when they require missing modules.

[2016-08-31 16:53] CapacitorSet opened #59 "Add user stats plugin"

[2016-08-31 17:22] crisbal commented on #59
Let's consider stats-ing different message types

[2016-08-31 21:51] CapacitorSet opened #60 "Add ban feature on non-super groups"
You can only ban users in supergroups, as of now. It should be emulated in non-super groups, by just kicking the user when it enters.

[2016-10-04 09:41] CapacitorSet commented on #3
I think no more discussion is needed, this issue can be closed.

[2016-10-04 09:41] #3 closed

[2016-10-04 09:43] CapacitorSet commented on #6
If everyone is okay with the name change, I'd like to ask @crisbal to rename the project. I'll also open a new issue for the landing page, to keep track of it more easily.

[2016-10-04 09:45] CapacitorSet commented on #17
I think each of these needs a new issue. For easier tracking, users can submit plugin requests by opening a new issue rather than commenting here; I'll make a label for that.

[2016-10-04 09:45] #17 closed

[2016-10-04 09:46] CapacitorSet opened #61 "Voting plugin"
We need a voting plugin (split from #17).

[2016-10-04 09:50] CapacitorSet opened #62 "Wiki plugin"
We need a plugin to search Wikipedia (split from #17).

[2016-10-04 10:10] CapacitorSet opened #63 "Manage branches"
As per discussions:
- [x] Compare `master` and `dev`, merge the latter into the former (edit: this is no longer relevant, as `master` was outright deleted)
- [x] Delete `dev`

[2016-10-04 10:19] amitkumarj441 commented on #62
Hey @CapacitorSet ,

I would like to take up this task. Can you please elaborate more "To search Wikipedia", or to search wikipedia articles?
And where (folder) should I initiate the PRs?

[2016-10-04 10:27] CapacitorSet commented on #62
Hello, thanks for your interest!

The original idea was to have a simple plugin to access wikipedia articles, eg. `!wiki Telegram` would return `https://en.wikipedia.org/wiki/Telegram`. To make it different from the @wiki bot, maybe it could have support for different languages (`!wiki lang=it Telegram`, maybe?), or - I don't know.

Plugins belong in `src/plugins`, in the `es6` branch. You can fin

[2016-10-04 10:33] amitkumarj441 commented on #62
@CapacitorSet Glad to hear from you, I'll check it right away and I'll soon initiate a PR for wiki!

[2016-10-04 11:37] malhar12 commented on #61
Hello @CapacitorSet ,

A voting plugin, sounds an interesting idea. I would like to get my hands dirty with it. Can you give me an explanation, with which I can start with.

[2016-10-04 11:45] CapacitorSet commented on #61
Hello, thanks for your interest!

You can find help on writing plugins in [`docs/Plugin.md`](https://github.com/crisbal/Telegram-Bot-Node/blob/es6/docs/Plugins.md); you can find a sample plugin in [`src/plugins/ImageSearch.js`](https://github.com/crisbal/Telegram-Bot-Node/blob/es6/src/plugins/ImageSearch.js). Note that all work happens on the `es6` branch.

As for the voting plugin in particular,

[2016-10-07 00:45] avipatel91 commented on #59
Hi, I was wondering exactly what stats would be given? Also, what would be the input? Would it be the username or is that given implicitly?

[2016-10-09 10:21] CapacitorSet commented on #59
Hello, thanks for your interest!

The goal of the plugin is to replicate what is currently implemented in @rTARS, which says:

[code]

You can find help on writing plugins in [`docs/Plugin.md`](https://github.com/crisbal/Telegram-Bot-Node/blob/es6/docs/Plugins.md). You'll want to write a Proxy plugin: a good start is [`src/plugins/Logger.js`](https://github.com/crisbal/Telegram-Bot-Node/blob/es6/s

[2016-10-10 18:29] CapacitorSet opened #68 "Add temp-ban feature"
Extend the ban plugin to allow for temporary bans.

[2016-10-17 06:44] avipatel91 opened #72 "README fixes for es6 branch"
We are unable to run the app following the instructions under 'Running the bot' section in the README of the es6 branch. Some of the instructions need to be changed in order to get the app to run. This is specific to es6 branch only.

[2016-10-17 07:09] CapacitorSet commented on #72
Do you have more information, eg. an install log? What error do you run into, exactly?

[2016-10-17 07:40] avipatel91 commented on #72
The app simply won't run if you follow the instructions and run `node Bot.js`. This is because the bot.js file no longer exists in project root. Also, we have to account for transpiling the code.
I have fixed it in the following: 6c875f7da951bd7c21c049f7ba0bd020485b9a8a
I'll make a PR for it.

Picture of error when trying to run app.
<img width="856" alt="screen shot 2016-10-17 at 12 31 51 am" src

[2016-10-17 07:50] CapacitorSet commented on #72
Can you try `bash install.sh`? The issue of making the installation process easier was discussed in #24, and we eventually made a bash script to automate that.

[2016-10-17 10:39] CapacitorSet opened #74 "Update Rebridge"
As soon as CapacitorSet/rebridge#2 is fixed and a new minor version comes out, `package.json` must be updated, and so must the Regex/MediaSet plugins.

[2016-10-17 20:08] avipatel91 commented on #72
I ran the script and it works. Thanks! By the way, shouldn't the instructions still be changed for es6 branch since nowhere in the readme does it say to run `./install.sh`. Want me to create PR to update the documentation?

[2016-10-17 21:24] blackdev1l commented on #63
Ma come cazzo scrivi,  comunque l2git flow

[2016-10-17 21:25] blackdev1l commented on #52
Ciao posso farlo io?????

[2016-10-17 21:27] blackdev1l opened #75 "Quote system"
Ci sta o non ci sta???

[2016-10-17 21:29] crisbal commented on #75
Please use English

[2016-10-17 21:29] #75 closed, assigned to nobody

[2016-10-17 21:29] blackdev1l opened #76 "Create API documentation"
Però non lo faccio io

[2016-10-17 21:30] blackdev1l opened #77 "Quote system"
I'll do it

[2016-10-17 21:31] blackdev1l opened #78 "Create API documentation"
I won't do it

[2016-10-17 21:34] CapacitorSet commented on #76
Closing as a duplicate of #19.

[2016-10-17 21:34] #76 closed, assigned to nobody

[2016-10-17 21:34] CapacitorSet commented on #78
Closing as a duplicate of #19.

[2016-10-17 21:34] #78 closed, assigned to nobody

[2016-10-17 21:47] CapacitorSet commented on #72
Thank you for your willingness to help. However, I also noticed that `setup.sh` wasn't mentioned anywhere in the README (probably because it was a WIP), so I fixed that in 8b520ff28d2ef70e532c7ab23c84abf503f92039.

Anyway, I'll close this issue since it was fixed successfully.

[2016-10-17 21:47] #72 closed, assigned to nobody

[2016-10-17 21:50] CapacitorSet commented on #77
What do you mean? Something like !quote, !addquote in TARS?

[2016-10-18 07:15] blackdev1l commented on #63
I'd suggest to learn (and use) a branching model such as git flow
http://nvie.com/posts/a-successful-git-branching-model/

[2016-10-18 07:18] blackdev1l commented on #77
http://forum.egghelp.org/viewtopic.php?t=13997

[2016-10-18 08:09] CapacitorSet commented on #63
The current branching model is similar, with `master` being the master branch, `dev` being the development branch, and `es6` being a (huge) feature branch.

[2016-10-18 10:47] blackdev1l commented on #63
Similar,  not the same,  there are specific rules about the branching model... They are made to solve these specific problems

[2016-10-18 11:26] CapacitorSet commented on #63
Which problems?

[2016-10-18 11:31] blackdev1l commented on #63
Conflicts resolution, branching policy, versioning of the product.

master should be at least the **stable** - production ready - state of the project, and dev(elop) the **current** -bleeding edge- state of the project, if es6 is the feature branch then it should be merged to develop and then to master when  the feature is ready, if the feature branch takes too long it should be split in various s

[2016-10-18 11:54] crisbal commented on #63
Right now the project is in a strage state.

master is the production branch
dev is the development branch related to master
and es6 is a whole new branch, not related to master and to dev.

dev is some commits ahead of master
es6 is a complete rewrite, no common code, no common commits. the whole thing will be merged into master whenever I fell like it and the merge will be --force, there is no n

[2016-10-18 11:57] crisbal commented on #63
After this the branching model will be:
- master run the stable version
- dev will be the development version
- gh-pages will be used to host the website

addittional branches might be created for custom code and custom things but these will need to be kept updated by their mainteiners

[2016-10-18 11:58] blackdev1l commented on #63
So, for further development which one is the correct? Because if es6 is a rewrite and dev is commits ahead...?  Also if you gonna merge --force there's no need to dev anyway

[2016-10-18 11:59] crisbal commented on #63
You have to develop on es6.

You can develop on dev but won't merge it to master, no point in it.

Dev is the version running on my raspberrypi/FactotumBot but it is not stable in a sense it is not documented and working

[2016-10-18 12:01] blackdev1l commented on #63
Then,  the real dev is es6 and the current dev is just customization based on your deploy, now i get it.

[2016-10-18 12:03] crisbal commented on #63
dev is no customization, as I said it has some new features not stable for master. But all the development is taking place in es6, as I said.

[2016-10-18 12:31] CapacitorSet commented on #63
Why close this issue? It still requires work (i.e. merging the branches when they're ready).

[2016-10-19 20:37] CapacitorSet opened #79 "Add global admins in setup process"
Auth.js needs a "root admin", defined in Config.

[2016-10-19 23:10] CapacitorSet opened #80 "Limit regex set, make a "traditional set" plugin"
RegexSet can be used to spam a lot, eg. `/regexset . - SPAM` will reply to every message - make 10 such regexsets, and you've got a huge spam multiplier.

It was suggested in chat that we restrict the usage of RegexSet to trusted users with the "permission to spam" (i.e. mods), and make a "traditional set" plugin open to everyone.

The traditional set plugin will work like !set in @rtars, matching

[2016-10-19 23:16] FerdinandoLM commented on #80
My thought is that Regex is way too powerful to be left to users in high message traffic groups.

I suggest some sort of whitelist (where it should preferably be stand alone from other whitelists, altough this could be too much effort on a single plugin) like mod or a global whitelist.

[2016-10-20 07:13] blackdev1l commented on #77
Thanks for the assignee, i'll try to give the basic functionality ready today, the basic commands will be:
- /addquote
- /delquote
- /quote <number>
- /quote  (it gives a random quote)

[2016-10-20 09:16] CapacitorSet opened #82 "Allow hot-swap of plugins"
It would be nice to download a plugin, transpile it and add it with zero downtime. Same goes for removing plugins.

A corner case is when Proxies do not work correctly, so the administration system must be independent of proxies and plugins.

[2016-10-20 10:44] FerdinandoLM opened #83 "Welcome & Goodbye plugin"
Add a plugin that welcomes and says goodbye when a user joins / leaves the chatroom.

In addition to that, the bot shoud always attach the user id of the user who joined/left in order to be able to perform moderation actions.

In many cases spam users joins groups and leave the group just before some action could be done.

[2016-10-20 10:51] CapacitorSet commented on #83
We already have a [Welcome plugin](https://github.com/crisbal/Telegram-Bot-Node/blob/es6/src/plugins/Welcome.js), by the way; it just needs small fixes to say goodbye when a user leaves. If you want, you can work on that.

The point about user ids isn't necessary, if one uses the Kick plugin they can simply reply to the enter/exit notification with /ban.

[2016-10-20 10:56] CapacitorSet commented on #82
Relevant to #18, of which it is a detail/subtask.

[2016-10-21 06:36] CapacitorSet commented on #24
Closed in b639afe.

[2016-10-21 06:36] #24 closed

[2016-10-21 08:12] #59 closed, assigned to nobody

[2016-10-21 08:24] avipatel91 commented on #68
What would the command look like?
`/ban username days:hours:minutes

`e.g.`/ban foobar 07:42:00

[2016-10-21 08:43] CapacitorSet commented on #68
It would be nice if one could use a more "natural" notation like `20d` for "twenty days".

By the way, I think such a plugin would benefit from a scheduling API. Pinging @crisbal for discussion.

[2016-10-21 09:23] crisbal commented on #68
It is definitely a feature we could work on in the future.

Right now there are other priorities (porting the old `dev` plugins to the new es6 branch for example or adding feature to the Util modules).

[2016-10-21 09:29] #82 closed, assigned to nobody

[2016-10-21 09:43] CapacitorSet commented on #79
Fixed in e2cc748307b2a273b26efe16ec130c5abe86e872.

[2016-10-21 09:43] #79 closed, assigned to nobody

[2016-10-21 09:44] CapacitorSet commented on #18
Both tasks were accomplished (#79,  #82), closing this.

[2016-10-21 09:44] #18 closed

[2016-10-21 16:12] CapacitorSet opened #84 "Port dev plugins to ES6"
- [x] 8ball
- [x] boobsbutts
- [x] echo
- [x] googleimage
- [x] google
- [x] imgur
- [x] karma
- [x] math
- [x] ping
- [x] quote
- [x] reddit
- [x] reverse
- [x] roll
- [x] set
- [x] text
- [x] twitch
- [x] vote
- [x] xvideos
- [x] youtube

[2016-10-21 20:11] blackdev1l commented on #77
Done #85

[2016-10-21 20:17] avipatel91 commented on #84
Are these up for grabs?

[2016-10-21 20:44] CapacitorSet commented on #77
Finally fixed in 687b0fd6bab005ae6f1881956eff94e31a894a33!

[2016-10-21 20:44] #77 closed, assigned to blackdev1l

[2016-10-21 20:44] CapacitorSet commented on #84
Yes. However, note that some of these are inline-only, eg. reverse ([see `this.properties`](https://github.com/crisbal/Telegram-Bot-Node/blob/dev/plugins/reverse.js#L8)), so they can't be implemented right away.

[2016-10-21 20:44] blackdev1l opened #86 "Dice Plugin"

[2016-10-21 20:47] CapacitorSet opened #87 "/enableplugin uses require cache"
/enableplugin uses the require cache, i.e. it doesn't reload plugins from disk. This is a problem if one disables a plugin, makes changes, and re-enables it without shutting down the bot.

[2016-10-21 20:48] CapacitorSet opened #88 "Add support for inline operation"

[2016-10-21 20:50] CapacitorSet opened #89 "Implement onCommand"
As discussed in chat, the API wrapper we use may already expose an `onCommand` method or something like that. Investigate.

Then, create an onCommand method, and rewrite plugins to use that.

[2016-10-21 21:00] CapacitorSet commented on #52
Fixed in 60fedb79e6d8dbb0b1ee0d21eac80b4226679f68.

[2016-10-21 21:00] #52 closed, assigned to nobody

[2016-10-22 09:48] CapacitorSet commented on #89
Finished in 2e2417f.

[2016-10-22 09:48] #89 closed, assigned to CapacitorSet

[2016-10-22 12:15] blackdev1l commented on #86
done #90

[2016-10-22 12:19] CapacitorSet commented on #86
Fixed in f668119.

[2016-10-22 12:19] #86 closed, assigned to blackdev1l

[2016-10-22 12:21] blackdev1l opened #91 "Make es6 the default branch"
There's no reason to have dev as the main branch while we are using es6 for develop, actually it gives a lot of wrong info during the development because  it references old commits in the fork page.
Plus it is misleading for users who discover this project and finds as main branch an old and unused one.

[2016-10-22 12:30] CapacitorSet commented on #91
Done.

[2016-10-22 12:30] #91 closed, assigned to nobody

[2016-10-22 15:13] CapacitorSet commented on #74
This no longer applies, as we moved away from Redis.

[2016-10-22 15:13] #74 closed, assigned to CapacitorSet

[2016-10-22 20:24] mftrhu opened #92 "More detailed stats - words and words per message"
Extend the `UserStats` plugin with word count functionality, and show total messages, total word count, and average words per message.

This could conceivably be used to detect spam/spammers, or just for fun.

[2016-10-22 20:48] DDF95 opened #93 ""Events" plugin"
Introdurre un plugin `events` o comunque una sorta di remindme per organizzare gli eventi in chat o altrove.
`/events` apre una sorta di calendario con data e ora dell'evento (e magari anche il nome di chi ha creato l'evento). Sarebbe carino anche mettere accanto ad ogni evento "mancano X giorni, X minuti ed X secondi".
Per aggiungere un evento o un promemoria: `/addevent dd/mm/yyyy hour:minute:se

[2016-10-22 21:01] CapacitorSet opened #94 "Add a command to get the user ID"
Basic usage: getting the user id of eg. @rTARS. Of course, this can only work if the bot has ever seen the user in one of its groups. This also raises the issue of privacy: what if the user belongs to a different group? Should his ID still be available for search? And what about users who were previously in the group, but left?

Advanced usage: maybe searching by first name?

[2016-10-22 22:42] CapacitorSet commented on #92
Fixed in 0588bf8.

[2016-10-22 22:42] #92 closed, assigned to nobody

[2016-10-23 10:31] blackdev1l commented on #94
There's no issue about privacy, because it's public data and if the API can let you know the ID there's no  problem to parse it and use it in my opinion.

We should collect the id by username, the plugin should be able to log on every entrance the id, first name, username and what's not, however, if a user come back in with a different username / firstname/ it should append it to the first one, so

[2016-10-23 11:36] CapacitorSet commented on #94
The logging infrastructure is already there by the way, it's implemented by the Logger proxy. It just needs a way to access the information.

I agree about the issue of privacy.

[2016-10-24 09:07] CapacitorSet commented on #55
Fixed in 13038ce5746514faa550fe9377e709b8edc33ff3.

[2016-10-24 09:07] #55 closed, assigned to nobody

[2016-10-24 14:46] blackdev1l commented on #6
:+1: for Elroy

[2016-10-24 20:10] CapacitorSet opened #97 "Copy over echo, math plugins"
This is a tracker issue for @blackdev1l.
- [x] echo
- [x] math

[2016-10-25 09:00] CapacitorSet opened #98 "Make user stats message simpler"
- Remove user ID
- Split userstats into userstats and wordstats

[2016-10-25 11:36] CapacitorSet commented on #94
Something that came up in chat: an `/ids` command to list the user IDs.

[2016-10-25 11:41] FerdinandoLM commented on #94
A working concept could be taken from https://github.com/LucentW/s-uzzbot/blob/master/plugins/why.lua, where the user can reply with "#why" (don't understand the choice of that word for the command tbh), and the bot reply with

ℹ️ User @Sempiternum [0123456]
👍 This ID is nor banned nor superbanned.

[2016-10-25 18:24] CapacitorSet commented on #80
Traditional set implemented in 461e93567c7509946e5a940d8f17a6a9bcf22102.

[2016-10-25 18:36] #80 closed, assigned to nobody

[2016-10-25 18:42] #83 closed, assigned to nobody

[2016-10-25 18:51] CapacitorSet commented on #61
Fixed in 021cc6f1a8ea4c4abc98d24934a5f97cd23d4047.

[2016-10-25 18:51] #61 closed, assigned to nobody

[2016-10-25 21:31] CapacitorSet opened #100 "Disable antispam on inline queries"

[2016-10-25 21:46] CapacitorSet commented on #84
_We did it_ (dbced6271c1f058209766c250e671dc02767c089)!

[2016-10-25 21:46] #84 closed, assigned to nobody

[2016-10-25 21:47] CapacitorSet commented on #88
Fixed in dbced6271c1f058209766c250e671dc02767c089.

[2016-10-25 21:47] #88 closed, assigned to nobody

[2016-10-25 22:00] CapacitorSet opened #101 "Seed Markov plugin"
Eg. `/markov my name is`.

[2016-10-26 19:43] avipatel91 commented on #98
I can take this one up. Should I split userstats and wordstats into separate plugins? Or does somthing like the following work?
get user stats:   `/stats user`
get word stats:      `/stats word`

[2016-10-26 19:53] CapacitorSet commented on #98
Oh, actually, I have implemented this, though I didn't push the commits yet

If you have some time to contribute, you could copy over the Math plugin from the dev branch to es6. The code is mostly the same, it just needs to use the new boilerplate instead (i.e. onCommand). When this is done, we can eventually close the dev branch and pass to a standard branching model.

Ping @crisbal to keep an ey

[2016-10-26 21:10] CapacitorSet commented on #98
Fixed in dbc198010ca0212bcecb125de2287601c98cd412

[2016-10-26 21:10] #98 closed, assigned to nobody

[2016-10-27 17:02] CapacitorSet opened #103 "Fix Kick description"
The Kick plugin says that you can get the user ID from /list, but there is no such command. Fix after #94.

[2016-10-27 18:07] CapacitorSet opened #104 "Add /get, /unset to Set"
Respectively, to list triggers and remove them.

[2016-10-27 21:41] #104 closed, assigned to nobody

[2016-10-27 22:31] FerdinandoLM opened #105 "Userstats plugin not sorting list in decreasing order"
The userstat plugin is not sorting correctly the user list counting messages.

Example:
User1: 6556 words (3.6382 words/message)
User2: 8068 words (4.8110 words/message)
User3: 7431 words (4.7301 words/message)
User4: 5333 words (4.1181 words/message)
User5: 2050 words (2.3112 words/message)

Also observe that this issue is unrelated to issue #106 although reporting for the same plugin

[2016-10-27 22:36] FerdinandoLM opened #106 "Userstats plugin not counting words anymore"
The userstats plugin seems to be stuck at some point and not counting words anymore.

during a reasonable time frame the word stats is always the same as previous messages, example:

userstats used at 00.00

Example:
User1: 6556 words (3.6382 words/message)
User2: 8068 words (4.8110 words/message)
User3: 7431 words (4.7301 words/message)

userstat used at 00.30

Example:
User1: 6556 words (3.6382

[2016-10-28 06:24] CapacitorSet commented on #97
Finished in 40923c251af8d6b17ab635154fef1152942dc8a7.

[2016-10-28 06:24] #97 closed, assigned to nobody

[2016-10-28 06:29] CapacitorSet opened #107 "Define a branching model"
Now that we have a clean tree, we need to discuss a branching model, so that we don't end up again with all work on a feature-branch-of-development-branch and the master gets ignored.

[2016-10-28 06:30] CapacitorSet commented on #63
With all features successfully copied over, I closed `dev`.

Discussion about the branching model will take place in #107; I invite everyone to chime in.

[2016-10-28 06:30] #63 closed, assigned to crisbal

[2016-10-28 07:14] #105 closed, assigned to nobody

[2016-10-28 07:27] #106 closed, assigned to nobody

[2016-10-28 07:30] #100 closed, assigned to nobody

[2016-10-28 07:54] #94 closed, assigned to nobody

[2016-10-28 07:56] #103 closed, assigned to nobody

[2016-10-30 19:06] avipatel91 commented on #101
Interesting. I assume there will also be a response to this? Really helpful for FAQs, where user can ask similar question and plugin responds with answer based on markov model.

[2016-10-31 10:43] CapacitorSet opened #110 "Improve formatting for help text"
- [x] more readable formatting

- [x] disable link preview

[2016-10-31 17:59] #110 closed, assigned to nobody

[2016-10-31 23:15] CapacitorSet opened #111 "Fix tests"
* They should somehow rely on a common code base, i.e. our stub for the Telegram API.

 * They should emit entities correctly, especially `bot_command`, or else all tests based on commands will fail because of 070137fb3bab0f6c704edb001950bf5966985f5f.

[2016-11-01 22:08] CapacitorSet opened #112 "Use proper API for showing images"
Currently, the BoobsButts and Reddit plugins send a link to the image. They should send the picture instead, using the Util function for downloading a resource to disk.

[2016-11-01 22:10] CapacitorSet commented on #112
Actually, it seems that you can pass an image URL to Telegram directly. Use that instead.

[2016-11-02 06:10] avipatel91 commented on #112
The behavior is the same whether you send the url via text or photo. Telegram still displays the image with the url. Is it different on mobile?

[2016-11-02 06:14] CapacitorSet commented on #112
Is it? I didn't try it out, but it appears that if you send it by text it will display the URL with an optional image preview, whereas using [`sendPhoto`](https://core.telegram.org/bots/api#sendphoto) you can pass an URL from which the Telegram server will download an image and display it as a standalone picture.

[2016-11-02 06:16] CapacitorSet commented on #101
The way they are now, Markov chains can't be used to write FAQs, because they don't understand the content of text at all - they just spit out some text that reuses known pairs of words.

[2016-11-03 17:05] #112 closed, assigned to nobody

[2016-11-04 13:13] blackdev1l commented on #107
http://nvie.com/posts/a-successful-git-branching-model/

[2017-08-15 15:45] CapacitorSet opened #113 "Doesn't work on Node <6"
It seems that the bot doesn't work with versions of Node previous to 6.0. There ought to be a check on "npm firstrun".

[2017-08-15 15:47] crisbal commented on #113
We should use `package.json`'s `engines` field: https://docs.npmjs.com/files/package.json#engines

[2017-08-15 15:50] CapacitorSet commented on #113
I'm not sure, is the `engines` field taken into consideration if the user cloned the repository rather than doing `npm install`?

[2017-08-15 19:09] FerdinandoLM opened #114 "Add Spoiler plugin - hideitbot like"
HideItBot is (was?) a bot very nicely working but seems to be offline.

It would be great to add a plugin like hideit bot, knowing that that bot is opensource: https://github.com/erpheus/hideit-bot

[2017-08-15 19:11] crisbal commented on #114
Right now our bot/framework does not support interfacing with buttons and custom keyboards, first we will need to add support for these backend features.

[2017-08-15 19:12] FerdinandoLM opened #115 "Global and Local plugins"
Some plugins like quote act globally (you set a quote and that quote is available everywhere the bot is running on), others like mset are local, and run only on the group they have been set.

Cloning the plugin making it work globally (example: Gquote for global quote and quote for local quote) or being able to select "global" or "local" when setting or when calling a plugin would be awesome.

[2017-08-15 19:20] CapacitorSet opened #116 "Add multiword support to regexset"

[2017-08-15 19:26] CapacitorSet opened #117 "Add antiflood"
Add a plugin to kick/ban users when they flood; alternatively, integrate RateLimiter and Kick to make this possible.

[2017-08-15 19:28] FerdinandoLM opened #118 "Fix Enable and Disable plugins commands"
Those commands are broken and not working

[2017-08-15 19:38] CapacitorSet commented on #118
More specifically, /disableplugin won't actually disable the plugin.

[2017-08-15 19:39] FerdinandoLM opened #119 "Ignore plugin requires ID"
Instead of that, Ignore plugin should work simply by replying to someone to be ignored with /ignore (something like the quote plugin), or by putting their @handle.

[2017-08-15 19:52] FerdinandoLM commented on #116
multiword to MediaSet plugin would be interesting too.

[2017-08-15 20:42] FerdinandoLM opened #120 "Put config.json on .gitignore"
In order to prevent the commitment of pre-filled config containing personal informations, put config.json in git.ignore

[2017-08-15 20:54] CapacitorSet opened #121 "Make Auth not static"
Atm, helpers/auth.js is a collection of static methods, however it relies on global variables. This doesn't make any sense; the methods ought to be not static, and the global variables ought to be class members.

[2017-08-15 21:28] #120 closed, assigned to CapacitorSet

[2017-08-15 21:45] #111 closed, assigned to CapacitorSet

[2017-08-15 21:54] CapacitorSet commented on #22
Whatever the issue meant, I think it was fixed in 0f5992c4bcea25c86738b2ca359f6c95729135c9.

[2017-08-15 21:54] #22 closed

[2017-08-15 22:01] #113 closed, assigned to nobody

[2017-08-16 12:54] #121 closed, assigned to nobody

[2017-08-16 14:05] FerdinandoLM opened #122 "Enable and disable plugins on specific groups"
Many plugins may be annoying on some groups that need less messages, so you may want to disable them only on some groups and keep them enabled on others.

Enable and disable for specifi groups would allow an admin to do so.

[2017-08-16 20:41] CapacitorSet commented on #118
Fixed in a124a2e6d87a62b2fc4df7b21af7626debc63d25!

[2017-08-16 20:41] #118 closed, assigned to nobody

[2017-08-17 18:44] CapacitorSet commented on #122
Fixed in ba60b1a.

[2017-08-17 18:44] #122 closed, assigned to nobody

[2017-08-17 19:02] CapacitorSet opened #123 "Implement unset for MediaSet"
Mediaset provides /mset, but not /munset.

[2017-08-23 10:19] FerdinandoLM commented on #123
Totally (not) serious proposal: rename the unset command to /moonset

[2017-09-07 23:19] Ichicoro opened #124 "Update the wiki"
The wiki needs to be updated: there's a lot of instances where examples use the old syntax (eg: `import Foo from "Foo.js"` instead of `const Foo = require("Foo.js")` and `export default class Bar extends Plugin` instead of `module.exports = class Bar extends Plugin`)

[2017-09-10 12:46] #116 closed, assigned to nobody

[2017-09-10 23:15] CapacitorSet commented on #124
Fixed. Link to the new guide: https://github.com/crisbal/Telegram-Bot-Node/wiki/Plugins

[2017-09-10 23:15] #124 closed, assigned to nobody

[2017-09-18 14:11] neslinesli93 opened #125 "Improve Forward.js"
Hi guys thanks for your hard work - I love the bot!
Could you please reintroduce the /chan or #chan function?
Make Chan Great Again!

Thanks,
Tommaso

[2017-09-18 14:13] CapacitorSet commented on #125
Tldr: make Forward.js work on private channels

[2017-09-18 14:15] neslinesli93 commented on #125
What does it mean? Hopefully it's an internal memo or something like that

[2017-09-18 14:32] FerdinandoLM commented on #125
Can you please explain what function should "/chat" or "#chat" do?

[2017-09-18 14:41] CapacitorSet commented on #125
Actually, Forward.js *does* work, it's just that it's hard to get the chat ID for a private channel.

@crisbal, should we do something about that?

[2017-09-18 14:43] CapacitorSet commented on #125
Actually, Forward.js *does* work, it's just that it's hard to get the chat ID for a private channel.

@crisbal, should we do something about that?

[2017-09-22 22:44] CapacitorSet commented on #125
Note: add support for #fwd/#chan

[2017-09-23 17:56] CapacitorSet opened #126 "Add Urban Dictionary plugin"

[2017-09-23 22:32] CapacitorSet opened #127 "Implement a DSL for tests"
The way the tests are written, they are rather repetitive. It would be nice to express them as "this message should [or should not] elicit this response".

[2017-09-23 22:33] CapacitorSet opened #128 "Have plugins offer test suites"
A basic example: the plugin Ping may have a property `tests` which says that the command "/ping" should always result in the response "Pong!".

Depends on #127. Also, @crisbal what do you think?

[2017-09-25 07:58] koodoxz opened #129 "Errors in Google Search, Google Images and YouTube"
Hi

How can i enable plugin google search? I've searched the wiki but did not find it.
if i enable the plugin and show error like this :

warn: [PluginManager] Failed to initialize plugin GoogleSearch.

Thanks

[2017-09-25 10:35] crisbal commented on #129
Hello, as you can see from here (as of right now I am not sure it is documented) https://github.com/crisbal/Telegram-Bot-Node/blob/es6/src/plugins/GoogleSearch.js#L23 you need to provide the Google API Key and the Google CX Key that you can get using Google API Console (https://console.cloud.google.com/?pli=1) in the config.json file

[2017-09-25 11:02] crisbal commented on #129
Ok I just checked and it seems the issues is on our side. I will keep you updated when we fix the problem

[2017-09-25 11:03] CapacitorSet commented on #129
By the way, @koodoxz do you have a complete log? Are there other lines explaining the error?

[2017-09-26 00:51] koodoxz commented on #129
Hi

@CapacitorSet Here is the log when in **Firstrun**
-  GoogleSearch.js (Cannot find module 'this.google-search')
-  Wordgame.js (Cannot find module 'word-list')
-  YouTube.js (Cannot find module 'youtube-api')

and here are the full log

 npm run bot

info: [Bot] Instance created.
node-telegram-bot-api deprecated Events new_chat_participant,left_chat_participant are deprecated. See the updated

[2017-09-26 00:54] CapacitorSet commented on #129
I pushed 544c09b, that should fix it. Can you `git pull` and try again?

[2017-09-26 01:01] CapacitorSet commented on #129
Actually, I just pushed another bugfix in 1b2d1ca - you should try pulling once again, if you already did.

[2017-09-26 01:05] koodoxz commented on #129
Hi @CapacitorSet

thank you for fast respon, i think still cant find module for google search, here is the log

warn: [PluginManager]  Error: Cannot find module 'google-search'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/home/

[2017-09-26 01:06] CapacitorSet commented on #129
Oh, in that case, you'll just need to install it: `npm install google-search`.

[2017-09-26 01:07] koodoxz commented on #129
Ok noted, let me try it, thanks

[2017-09-26 01:15] koodoxz commented on #129
Hi

just try to running, but still found this error

info: [Bot] Plugins loaded.
info: [Bot] Permissions configured.
info: [Bot] The bot is online!
error: [Bot]  TypeError: Cannot read property 'sendMessage' of undefined
    at /home/Telegram-Bot-Node/src/plugins/GoogleSearch.js:49:17
    at IncomingMessage.<anonymous> (/home/Telegram-Bot-Node/node_modules/google-search/lib/google-search.js:64:9)

[2017-09-26 01:18] CapacitorSet commented on #129
Hm. Try pulling and running it now?

[2017-09-26 01:22] koodoxz commented on #129
Thanks for the quick respons
may i ask you again, how to define call command to google search and google image in bot?

[2017-09-26 01:25] CapacitorSet commented on #129
Simply edit src/plugins/GoogleSearch.js and src/plugins/ImageSearch.js.

For example, at [line 34 of GoogleSearch.js](https://github.com/crisbal/Telegram-Bot-Node/blob/es6/src/plugins/GoogleSearch.js#L34) you will find `if (command !== "google") return;`, just change that command.

[2017-09-26 01:28] koodoxz commented on #129
while i put help on bot, its show something like this

**/help**
Google Images search: Search for images on Google.
Google: Search on Google.

**/help Google Images search**
Google - Search on Google.
/google query

**/help google**
Google - Search on Google.
/google query

Edit :

found the script that you said before

thanks

[2017-09-26 01:32] CapacitorSet opened #130 "Helpful error messages for missing dependencies"
We should print a more helpful error message if a plugin couldn't be loaded because of missing dependencies.

[2017-09-26 01:32] CapacitorSet commented on #129
Thank you for your report. I'm closing this issue as fixed.

[2017-09-26 01:32] #129 closed, assigned to nobody

[2017-09-26 01:34] koodoxz commented on #129
one moment please

i found another error on youtube plugin, i think is the same error with google search

info: [Bot] Plugins loaded.
info: [Bot] Permissions configured.
info: [Bot] The bot is online!
error: [Bot]  TypeError: Cannot read property 'sendMessage' of undefined
    at /home/Telegram-Bot-Node/src/plugins/YouTube.js:43:17
    at Request._callback (/home/Telegram-Bot-Node/node_modules/goo

[2017-09-26 01:37] CapacitorSet commented on #129
Oh shit, indeed. I also fixed that.

I ran a quick check against the other plugins, there shouldn't be any more issues like that.

[2017-09-26 01:39] koodoxz commented on #129
Well Noted, Thank you for the quick respons :1st_place_medal:

[2017-09-26 01:45] CapacitorSet opened #131 "Add warning about callback usage in docs?"
If using callbacks inside onText/onCommand, one can make this mistake, as already [happened](https://github.com/crisbal/Telegram-Bot-Node/issues/129#issuecomment-332057415) [twice](https://github.com/crisbal/Telegram-Bot-Node/issues/129#issuecomment-332060254):

[code]

This is incorrect, because the `this` in `this.sendMessage` is [the global object](https://stackoverflow.com/a/134149), not the P

[2017-09-26 02:02] koodoxz commented on #129
Hi i found error again on plugin youtube, should i paste here or i open new issue?

[2017-09-26 02:07] CapacitorSet commented on #129
No way to tell without seeing the problem :)

If you think it's the same type of error, post on this issue; otherwise,
open a new issue.

Anyway, I'm going to bed now. It's 4 AM here in Italy, so it might be a
while before @crisbal or I can take a look.

Il 26/set/2017 04:02 AM, "koodoxz" <notifications@github.com> ha scritto:

[2017-09-26 02:11] koodoxz commented on #129
ok, take your time, Have a good rest :1st_place_medal:

[2017-09-26 12:23] CapacitorSet commented on #129
@koodoxz, do you have updates on the issue?

[2017-09-26 23:22] koodoxz commented on #129
Hi @CapacitorSet sorry for late reply

here is the log when i try to find song on youtube with 32 characters including space ex : **/yt andra and the backbone - hitamku** also with this one, **/yt asd** it wont work

info: [Bot] Plugins loaded.
info: [Bot] Permissions configured.
info: [Bot] The bot is online!
error: [Bot] Unhandled rejection at Promise  Promise {
  _bitField: 18087936,
  _fulfill

[2017-09-26 23:54] CapacitorSet opened #133 "Add util for making HTML links"
Links in Markdown should not be constructed with `[${title}](${url})`, because if `title` contains a closing square bracket it will mess up the formatting at best and cause API errors at worst.

We should make a function in Util to construct Markdown links, and make all plugins using Markdown use that function.

[2017-09-26 23:55] CapacitorSet commented on #129
I think I got it: when the title contains `]`, Telegram complains because it thinks it's closing the Markdown link. However, I'll look at it tomorrow.

Can you please open a new issue? It's a different problem than the one discussed here.

[2017-09-26 23:56] koodoxz commented on #129
ok let me open in new issue

[2017-09-26 23:58] koodoxz opened #134 ""Can't find end of the entity" when using the Youtube plugin"
Hi All

I found new issue for youtube plugin

here is the log when i try to find song on youtube with 32 characters including space, ex : **/yt andra and the backbone - hitamku** and also with this one, **/yt asd** it wont work

info: [Bot] Plugins loaded.
info: [Bot] Permissions configured.
info: [Bot] The bot is online!
error: [Bot] Unhandled rejection at Promise Promise {
_bitField: 18087936,
_

[2017-09-27 00:04] CapacitorSet commented on #134
Internal note: as mentioned in [the other issue](https://github.com/crisbal/Telegram-Bot-Node/issues/129#issuecomment-332368886), this might be due to the title of the song containing square brackets that mess with the formatting.

@Ichicoro, want to give it a shot? You should try enabling the YouTube plugin, troubleshoot it (my hypothesis might be a good starting point), and possibly push a fix :

[2017-09-27 18:46] #134 closed, assigned to nobody

[2017-09-27 18:47] CapacitorSet commented on #134
Thank you for your report, we fixed that and a similar issue in Fap.js.

[2017-09-27 18:48] CapacitorSet commented on #133
It seems that Markdown parsing in Telegram is somewhat broken, as `\[` and `\]` are not interpreted correctly. This means that user-generated titles should only go in HTML links (for which a sanitizer would also be needed).

[2017-09-28 13:40] #101 closed, assigned to nobody

[2017-09-28 13:44] CapacitorSet commented on #93
For people interested in the Hacktoberfest:

[2017-09-28 13:53] caleywoods commented on #126
I can work on this one, I've done a Twilio SMS script for Hubot before so this should be somewhat similar.

@CapacitorSet - Do you just envision that this plugin takes a word or phrase from the chat input (or given to the bot) and uses the Urban Dictionary API to return both a definition of the word/phrase as well as a link to view the definition on UD?

[2017-09-28 14:04] CapacitorSet commented on #126
Yes, pretty much. Something like the following:

Since you're at it, could you try writing your plugin based on the documentation in the [wiki](https://github.com/crisbal/Telegram-Bot-Node/wiki/)? You would help spot any missing or incorrect information.

[2017-09-28 14:21] caleywoods commented on #126
Will do, I believe you meant the usage to be:

And then the bot respond with what you queried

[2017-09-28 14:23] CapacitorSet commented on #126
Oh welp, indeed.

[2017-09-28 14:29] CapacitorSet commented on #93
Taken by @Ichicoro.

[2017-09-28 23:28] caleywoods commented on #126
One of the things I found upon initial setup that may be a stumbling point for new users:

Running `npm run firstrun`, when it's nearly finished will ask you for an array of user ID's to treat as global admins. I did not try to skip this, though I assume you can. It seems like a user has two options during this step:

* Skip it by pressing `ENTER` and optionally adding them later in `config.json`

[2017-09-28 23:38] CapacitorSet opened #135 "Initial setup is not user-friendly"
@caleywoods [mentioned](https://github.com/crisbal/Telegram-Bot-Node/issues/126#issuecomment-332990759) that one step in the setup can be problematic for new users: specifying the global admins (which will be hardcoded in config.json). Currently, this is done by asking the user to enter a JSON array of user IDs, but figuring out one's user ID is not very simple.

Here's an idea for solving the pro

[2017-09-28 23:40] CapacitorSet commented on #126
Hmm, indeed, that's not super friendly. You're welcome to make a PR - though, remember that in order to count towards the Hacktoberfest they must be opened after October 1.

I opened [a new issue](https://github.com/crisbal/Telegram-Bot-Node/issues/135) about that, and wrote down a couple of notes on how I'd fix that. If you wish to "claim" it (perhaps in occasion of the Hacktoberfest) just let us

[2017-09-28 23:41] caleywoods commented on #126
I'll focus on this issue for now. When I go to send the PR if the other isn't claimed i'll take a stab at fixing the documentation, I think the setup script is working well.

[2017-09-29 04:04] caleywoods commented on #126
How's this looking?

![Example of Urban Dictionary Plugin](https://i.imgur.com/yTG4Ym8.png)

[2017-09-29 17:55] CapacitorSet commented on #126
Looks just right! However, why the long space between the beginning of the line and the example usage?

[2017-09-29 17:56] caleywoods commented on #126
Not sure, I'll try tweaking it later on. Not sure if it's my "formatting" in the template string or something else.

[2017-09-29 18:00] caleywoods commented on #126
Fixed. I replaced my returns with two new line characters.

https://i.imgur.com/mWTlzRs.png

[2017-09-29 18:19] CapacitorSet commented on #126
Sounds good.

[2017-09-29 22:09] CapacitorSet commented on #68
Depends on #93.

@Ichicoro is working on a scheduling API that should allow us (well, her) to implement both the Events plugin and this one. Consider this issue taken.

[2017-09-29 22:19] CapacitorSet commented on #115
Maybe this could be done with a global as well as local db (`this.globalDB`, `this.localDB[message.chat.id]`)? However, local DB access would be rather cumbersome. Perhaps it could be passed to the event handler (eg. `onText({message, command, args, localDB})`)?

Of course, it would be up to the plugin author to provide a way to access global vs. local features.

[2017-09-29 22:26] CapacitorSet opened #136 "Persist /enable, /disable to config.json"
Expected behaviour: `/enable <plugin>` keeps that plugin enabled "forever", even across bot restarts.

Actual behaviour: the plugin is only enabled until the next shutdown. It won't be saved to config.json, so when the bot starts next time, the plugin will no longer be enabled.

Solution: PluginManager.loadAndAdd/PluginManager.removePlugin should save the plugin in the new configuration, and save

[2017-09-29 22:28] CapacitorSet opened #137 "MediaSet doesn't allow to set contacts or locations"
Arguably, MediaSet should also allow to set contacts or locations as the response (not only photos, music and so on).

[2017-09-29 22:36] #87 closed, assigned to nobody

[2017-09-30 00:24] LucasLeandro1204 commented on #136
I can get this one.

[2017-09-30 00:29] #114 closed, assigned to nobody

[2017-09-30 00:42] CapacitorSet commented on #136
Very well! Don't forget that for pull requests to count towards the Hacktoberfest, they must be opened on October 1 or later.

If you need help navigating through the codebase or otherwise have questions, feel free to ask.

[2017-09-30 00:45] LucasLeandro1204 commented on #136
@CapacitorSet I know it xd, but the code seems pretty easy, I will create a function to save the config json and that's it, I just have to see how I use telegram huahuauhauha

[2017-09-30 16:59] martiuslim commented on #131
seems like you have already added this to the wiki [here](https://github.com/crisbal/Telegram-Bot-Node/wiki/Plugins/_compare/13dacc1d9f95708a09fa9173f72e49533fd0adb8) :smile:

[2017-09-30 18:15] CapacitorSet commented on #131
Oh well, I forgot to update the issue. Thank you!

[2017-09-30 18:15] #131 closed, assigned to nobody

[2017-09-30 23:21] #117 closed, assigned to nobody

[2017-10-03 08:05] CapacitorSet commented on #126
Fixed in #139.

[2017-10-03 08:05] #126 closed, assigned to nobody

[2017-10-03 12:22] ufocoder commented on #127
@CapacitorSet I think project need this kind of tests as a part of integration tests, and there's no need to create our own DSL

[2017-10-03 13:02] ufocoder opened #141 "Pass Telegram API to plugins"
I investigate the code of project and I think it will be better if instead of creating telegram API
https://github.com/crisbal/Telegram-Bot-Node/blob/3677ee4cad2ede0ebae07422e5579472eed33d0c/src/Bot.js#L26
and then binding it's method to master plugin
https://github.com/crisbal/Telegram-Bot-Node/blob/3677ee4cad2ede0ebae07422e5579472eed33d0c/src/PluginManager.js#L22
we will should pass telegramAPI

[2017-10-03 14:22] CapacitorSet commented on #141
What is the advantage to doing this? The interface will be just as powerful but more verbose, since plugins can't use this.sendMessage but must use this.api.sendMessage instead.

[2017-10-03 14:55] ufocoder commented on #141
1) `this.api` with it's own methods clear solution, because with current concept we have to bind all of these methods

https://github.com/crisbal/Telegram-Bot-Node/blob/3677ee4cad2ede0ebae07422e5579472eed33d0c/src/Plugin.js#L134
https://github.com/crisbal/Telegram-Bot-Node/blob/3677ee4cad2ede0ebae07422e5579472eed33d0c/src/Plugin.js#L142
https://github.com/crisbal/Telegram-Bot-Node/blob/3677ee4cad2

[2017-10-05 07:58] CapacitorSet commented on #136
@LucasLeandro1204 are you still planning to implement this?

[2017-10-05 08:10] #133 closed, assigned to nobody

[2017-10-05 16:55] LucasLeandro1204 commented on #136
@CapacitorSet Sure I will haha, today I do this.

[2017-10-06 10:21] CapacitorSet commented on #135
This is being fixed in #146.

[2017-10-14 18:00] #136 closed, assigned to nobody

[2017-10-14 18:01] CapacitorSet commented on #136
@LucasLeandro1204, please don't take up issues if you're not going to fix them.

[2017-10-14 18:21] CapacitorSet commented on #19
The wiki is rather complete now. Can we close this issue, @crisbal?

[2017-10-18 09:17] Ichicoro commented on #123
Working on it! @FerdinandoLM I could do that 🤔

[2017-10-18 17:20] CapacitorSet commented on #123
Fixed in #148 with the /moonset Easter egg.

[2017-10-18 17:20] #123 closed, assigned to nobody

[2017-10-18 17:55] #19 closed

[2017-10-18 20:34] CapacitorSet opened #150 "Better mod tools"
* warn
* banned words
* reports (eg. write #admin and all admins are tagged/sent a message)

[2017-10-20 13:00] CapacitorSet opened #151 "Writing best practices for plugins"
This is a summary of the idea mentioned in chat.

In short, we should compile a list of best practices to be followed by all plugins, and use them consistently thoughout the project. For example, #119 mentions that `Ignore.js` should allow both /ignore <user ID> and replying to messages with /ignore, *like the quote plugin*.

- [x] Write best practices
- [ ] Review codebase to implement these prac

[2017-10-20 13:05] CapacitorSet opened #152 "Implement name resolution service"
Something that maps usernames to user IDs.

[2017-10-22 01:00] #152 closed, assigned to nobody

[2017-10-22 01:00] #119 closed, assigned to nobody

[2017-10-22 18:54] #130 closed, assigned to nobody

[2017-10-22 19:00] CapacitorSet opened #153 "Add "Owner" category to auth"

[2017-10-22 19:00] CapacitorSet opened #154 "Add Broadcast plugin"

[2017-10-22 19:21] CapacitorSet opened #155 "Add options to import chat admins as bot admins"
Some sort of command for Auth.js that [fetches the chat admins list](https://github.com/yagop/node-telegram-bot-api/blob/release/doc/api.md#TelegramBot+getChatAdministrators) and adds them as bot admins.

[2017-10-22 20:53] CapacitorSet commented on #137
Apparently, this can't be done straight away because while "actual" media (eg. photos) has a file ID, this is not true of locations (have lat/long) nor contacts (have name/phone no.).

[2017-10-24 18:20] CapacitorSet commented on #60
It looks like this was already fixed sometime. Closing.

[2017-10-24 18:20] #60 closed, assigned to nobody

[2017-10-30 20:20] CapacitorSet opened #156 ""-" in regex range is treated as separator in regexset"
Eg. `/regexset [a-z] - Hello!`.

[2017-10-30 20:22] CapacitorSet opened #157 "Auth should only allow to demote people in lower ranks, not the same"
Eg. an admin should not be able to /deladmin another founder.

Depends on the "owner class in Auth" issue.

[2017-11-01 19:15] #62 closed, assigned to nobody

[2017-11-07 13:03] CapacitorSet commented on #6
I developed a landing page on the `gh-pages` branch (temporary URL: http://baldi.me/Telegram-Bot-Node); we now have to pick a name.

[2017-11-08 12:45] #156 closed, assigned to nobody

[2017-11-09 11:02] CapacitorSet opened #158 "Add SetTitle plugin"
To set chat titles.

[2017-11-09 11:59] #158 closed, assigned to nobody

[2017-12-03 18:15] CapacitorSet opened #159 "Document regexset usage"
Regexset needs documentation on how to use $0/$1..$9 and the other replacements, possibly in the help text.

[2017-12-22 20:53] #153 closed, assigned to nobody

[2017-12-22 20:55] #135 closed, assigned to nobody

[2017-12-26 01:25] CapacitorSet opened #160 "Document tests/cli.js, new practices"
New best practices:
 * standard text for unauthorized user ("Insufficient privileges (chat admin required)")
 * distinguish between "chat admin" and "owner"

[2017-12-26 02:17] #160 closed, assigned to nobody

[2017-12-27 01:07] CapacitorSet commented on #157
Crisbal says it shouldn't be the case, admins should be able to promote new admins.

Closing this for now, may discuss this later if this feature is requested.

[2017-12-27 01:07] #157 closed, assigned to nobody

[2017-12-27 14:36] CapacitorSet commented on #6
Closed. We picked Nikoro, and the landing page is now at https://telegram-bot-node.github.io/Nikoro/.

[2017-12-27 14:36] #6 closed

[2017-12-27 14:38] #125 closed, assigned to nobody

[2017-12-29 18:37] #155 closed, assigned to nobody

[2018-01-10 00:05] CapacitorSet opened #161 "Bot can kick itself"
Figure out whether to add additional checks (make sure not to kick itself) or adding the bot as a special chat admin.

[2018-01-16 17:07] #93 closed, assigned to nobody

[2018-01-16 17:15] CapacitorSet opened #162 "Support delay in Remind.js"
"/remind date", "/remind time" and "/remind date time" are supported, but "/remind delay" isn't.

[2018-02-13 17:42] CapacitorSet opened #163 "Add antispam to modtools"
It bans people when they post a link to a Telegram group.

[2018-02-13 17:42] CapacitorSet opened #164 "Add support for deleting messages in modtools"

[2018-02-14 19:42] CapacitorSet opened #165 "Add multi-word triggers in mediaset.js"

[2018-02-17 12:42] CapacitorSet opened #166 "Using the scheduler API prevents plugins from being disabled correctly"
See eg. RSS.

The reason for this is that while the plugin itself is removed from memory, it still keeps a listener like `Scheduler.on(<eventName>, () => this.sendMessage("..."))`. It should be removed in `stop()` instead.

[2018-03-25 04:07] vrumger opened #167 "onMessage in channels and groups"
I'm trying to make a plugin but when i add this it only works in private chats. Is it possible to get all messages from groups and channels?
[code]

[2018-03-26 09:08] CapacitorSet commented on #167
It should work by default in groups. Did you accidentally forget [privacy mode](https://core.telegram.org/bots#privacy-mode) enabled?

In channels it *should* work, but seemingly it doesn't, perhaps due to a bug in `node-telegram-bot-api`? Relevant issue: yagop/node-telegram-bot-api#489

[2018-03-26 09:11] vrumger commented on #167
It started working in groups, but it still doesn't work in channels

[2019-04-09 21:26] Kratacoa opened #170 "[Plugin Request] SetAlias"
It would be very comfy to have a plugin that allows the users to add aliases to various commands through which plugins are called.